*{
    padding: 0px;
    margin: 0px;
}
.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(10, 50px);
    max-width: 590px;
    border: 2px solid black;
    gap: 10px;
    margin: 100px auto;
}
.card{
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;

      
}
.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    
}
.frente {
    transform: rotateY(180deg);
}
.verso {
    background: white url('img/Fire-icon.png') center/cover;
    backface-visibility: hidden;
}
.reveal-card {
    transform: rotateY(180deg);
}